body { 
    /* font-family: Courier New, Courier, monospace; */
}

nav {
    background-color: black;
    height: 10%;
    text-align: center;
}

nav h1 {
    display: inline-block;
    color: white;
    vertical-align: middle;
}

nav img {
    min-height: 100px;
    max-height: 15vh;
    padding: 10px;
    display: inline-block;
}

.container {
    width: 60%
}

#conversation {
    height: 70vh;
    overflow: scroll;
    margin-top: 2%;
    margin-bottom: 1%;
    display: flex;
    flex-direction: column;
    align-content: flex-end

}

#conversation-list {
    margin-top: 2%;
    overflow: scroll;
}

li {
    list-style-type: none;
}

.watson_chat {
    clear: both;
    float: left;
    padding: 0.8em;
    max-width: 50%;
    margin: 2%;
    /* box-shadow: 3px 3px 10px */
}

/* bubble css from https://leaverou.github.io/bubbly/ */

.speech-bubble.watson_chat {
	position: relative;
	background: rgb(204, 217, 221);
	/* border-radius: 1em; */
}

.speech-bubble.watson_chat:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 29px solid transparent;
	border-right-color: rgb(204, 217, 221);
	border-left: 0;
	border-top: 0;
	margin-top: -14.5px;
	margin-left: -29px;
}

.user_chat {
    clear: both;
    float: right;
    max-width: 50%;
    margin: 2%;
    margin-right: 30px;
    padding: 0.8em;
    text-align: right;
    color: white;
    /* box-shadow: 3px 3px 10px darkgrey; */
}

.speech-bubble.user_chat {
	position: relative;
	background: rgb(99, 203, 108);
	/* border-radius: 1em; */
}

.speech-bubble.user_chat:after {
	content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border: 29px solid transparent;
	border-left-color: rgb(99, 203, 108);
	border-right: 0;
	border-bottom: 0;
	margin-top: -14.5px;
	margin-right: -29px;
}


.chat-form {
    position: fixed;
    bottom: 2%;
    right: 30%;
    text-align: center;
    width: 50%
}

.chat-form input {
    border-radius: 10px;
    width: inherit
}

#submit_chat {
    width: 75px
}